* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}


.hide {
    display: none;
}

body {
    background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;

    display: grid;
    place-items: center;

    height: 100vh;
}

body,
input {
    font-family: 'DM Sans', sans-serif;
}

main {
    background: #FFFFFF;
    box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;

    padding: 4.8rem 6.4rem 6.4rem;

    width: min(42.8rem, 90%);

    margin-top: -12rem;

    text-align: center;

    align-items: center;

    display: flex;
    justify-content: center;
}

/* Screen 1*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    /* width: 25.8rem; */
    display: flex;
    justify-content: center;
}

h1,
p {
    color: #34355B;
}

p {
    opacity: 0.8;
    margin-bottom: 2.0rem;
    margin-top: 1.4rem;
}

form {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;

}

input {
    border: none;
    padding: 1.6rem;
}

input {
    background-color: #DCE2E9;
    width: 6rem;
    border-radius: 0.4rem 0 0 0.4rem;
}

button {
    background: transparent;
    border: none;

    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*Screen2*/
.card p {
    background-color: #E4EDF1;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2.4rem;
    color: black;
}

.screen2 button {
    border-radius: 0.4rem;
    background-color: #FF9500;
    padding: 1.6rem;
    color: white;

    font-size: 1.5rem;

    width: min(42.8rem, 90%);
    height: 5.2rem;

}